.show-more-container {
    width: 100%;
    .toggleMoreLess {
        width: 100%;
        color: $blue !important;
        cursor: pointer;
        i {
            color: $blue !important;
            padding: 0;
            position: absolute;
            top: -4px;
        }
    }

    .togglable {
        display: none;

        &.show {
            display: block;
        }
    }
}

.more-options-panel {
    background: $white;
    max-width: 200px;
    width: 100%;

    .ui-overlaypanel-content {
        width: 100%;
        padding: 16px 0;
        display: flex;
        flex-direction: column;

        .ui-outputpanel.ui-widget {
            width: 100%;
            padding: 11px 16px;
            text-align: left;

            span {
                margin: 0 !important;
            }
            a {
                font-size: 15px;
            }
            &:hover {
                background: $hover-background;
            }

            .ui-state-disabled {
                color: #ddd;
                font-size: 15px !important;
            }
        }
    }
}