$red: #b94a48;
$white: white;
$green: #0f9d58;
$blue: #4285f4;
$black: #000;
$yellow: rgb(254, 204, 0);
$light-gray: #ddd;
$primary-color: $blue;
$default-text-color: rgba(0, 0, 0, 0.9);
$default-a-color: rgba(0,0,0,0.7);
$opac_black: rgba(0, 0, 0, 0.4);
$primary-button-background: #0f9d58;
$primary-button-hover-background: #11b062;
$primary-button-color: $white;
$info-button-background: $blue;
$info-button-hover-background: #2a70e0;
$info-button-color: $white;
$secondary-button-color: #777;
$top-navbar-color: $white;
$top-navbar-border-color: $light-gray;
$input-elements-border-color: $light-gray;
$hover-background: #eee;
$light-border: #eee;
$dark-border: #ddd;
$dashboard-blue: #51B8F2;
$dashboard-red: #F7433D;


