html {
  .fixed {
    position: fixed !important;
  }

  .absolute {
    position: absolute !important;
  }

  .report-header {
    display: flex;
    height: $navbar-height;
    background: $black;
    align-items: center;
    color: $white;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
    padding: 0 16px;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.46);
    justify-content: space-between;

    i {
      color: $white;
      cursor: pointer;
    }

    .title {
      display: flex;
      align-items: center;
      font-weight: 500;

      i {
        font-size: 32px;
      }
    }

    .options {
      display: flex;

      i {
        font-size: 20px;
      }
    }
  }

  body {
    .ui-tabs {
      padding: 0;

      .ui-tabs-navscroller {
        @media (max-width: 750px) {
          // height: 64px;
          width: 100%;

          .ui-tabs-navscroller-btn {
            top: 70px;
            background: red;

            .ui-tabs-navscroller-btn-left {}

            .ui-tabs-navscroller-btn-right {}
          }
        }
      }

      .ui-tabs-nav {
        height: 62px;
        position: absolute;
        background: transparent;
        top: 0;
        z-index: 3;
        padding: 0 !important;
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        max-width: 320px;

        @media (max-width: 750px) {
          top: 64px;
          background: $black;
          min-width: 100%;
          max-width: none;
          box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.46);
          margin: 0;
        }

        a {
          color: gray;
          font-weight: 500;
          text-transform: uppercase;
        }

        li {
          height: $navbar-height;
          display: flex;
          align-items: center;
          margin: 0;
          top: 0 !important;
          border-bottom: 0;
          box-sizing: content-box;
          padding: 0 16px;

          &.ui-state-hover {
            border-bottom: 2px solid $white;

            a {
              color: $white;
            }
          }
        }

        .ui-tabs-selected {
          border-bottom: 2px solid $white;

          a {
            color: $white;
          }
        }
      }

      .ui-tabs-panels {
        margin-top: $navbar-height;

        .ui-tabs-panel {
          padding: 0;
          background: 0;

          .tab-content {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;

            @media (max-width: 750px) {
              position: relative;
              top: 64px;
            }

            .header-section {
              display: flex;
              flex-direction: column;
              width: 100%;
              background: $white;
              margin-bottom: 24px;
              transition: all 0.5s;

              .summary-section {
                max-width: 1600px;
                width: 100%;
                margin: 0 auto;

                .container {
                  display: flex;                  
                  flex-wrap: wrap;

                  @media (max-width: 750px) {
                    margin: 0 12px;
                  }

                  border-left: 1px solid $light-border;

                  // @media (max-width: 1150px) {
                  //   flex-direction: column;

                  //   .section {
                  //     border-bottom: 1px solid $light-border;

                  //     &:last-child {
                  //       border-bottom: 0;
                  //     }
                  //   }
                  // }

                  .section {
                    display: flex;
                    flex: 1;
                    padding: 36px 24px;
                    border-right: 1px solid $light-border;
                    flex-direction: column;
                    justify-content: center;
                    animation: all 0.5s;
                    min-width: 298px;
                    flex-wrap: wrap;
                    border-top: 1px solid $light-border;
                    // @media (max-width: 750px) {
                    //   &.hide-on-reflow {
                    //     display: none;
                    //   }
                    // }

                    .row {
                      display: flex;
                      flex-direction: row;
                      align-items: center;
                    }

                    .sortable-header {
                      display: flex;
                      align-items: center;

                      span {
                        font-size: 1.5em;
                        font-weight: 700;
                      }

                      .dropdown {
                        color: #aaa;
                      }
                    }

                    .label {
                      font-size: 1em;
                      color: #aaa;
                      font-weight: 500;
                      height: 24px;
                      line-height: 24px;
                    }

                    .number {
                      font-weight: 500;
                      font-size: 1.1em;
                    }
                  }
                }
              }

              .report-filter {
                height: $navbar-height;
                display: flex;
                padding: 0 48px;
                align-items: center;
                justify-content: space-between;
                border-top: 1px solid $light-border;
                -webkit-box-shadow: 0px 4px 10px 0px rgba(199, 195, 199, 1);
                -moz-box-shadow: 0px 4px 10px 0px rgba(199, 195, 199, 1);
                box-shadow: 0px 4px 10px 0px rgba(199, 195, 199, 1);

                .filter-shadow {
                  position: fixed;
                  width: 0;
                  height: 0;
                  background: rgba(0, 0, 0, 0.1);
                  top: 0;
                  left: 0;
                  z-index: 1;

                  &.show {
                    width: 100%;
                    height: 100%;
                  }
                }

                @media (max-width: 1220px) {
                  padding: 0 24px;
                }

                .filter-toggle {
                  display: none;
                  cursor: pointer;
                }

                .dropdown {
                  color: #aaa;
                  margin: 0 24px;
                }

                .ui-panel {
                  display: flex;
                  padding: 0;
                }

                .inner {
                  display: flex;
                  align-items: center;
                  z-index: 2;
                }

                @media (max-width: 1150px) {
                  // height: auto;
                  // flex-direction: column;
                  z-index: 2;

                  .filter-toggle {
                    display: block;
                  }

                  .inner {
                    display: none;
                    width: auto;
                    height: auto;
                    position: absolute;
                    background: $white;
                    -webkit-box-shadow: 0px 4px 10px 0px rgba(199, 195, 199, 1);
                    -moz-box-shadow: 0px 4px 10px 0px rgba(199, 195, 199, 1);
                    box-shadow: 0px 4px 10px 0px rgba(199, 195, 199, 1);
                    padding: 16px 8px;

                    // .ui-widget-content {
                    //   width: 100%;
                    //   display: flex;
                    //   flex-direction: column;                      
                    // }
                    .custom-select {
                      margin-bottom: 12px;
                    }

                    .timebucket-filter {
                      margin: 0;
                    }
                  }
                }


                @media (min-width: 1151px) {
                  .inner {
                    display: flex !important;

                    .ui-panel-content.ui-widget-content {
                      display: flex;
                      align-items: center;
                    }
                  }
                }
              }

              &.stick {
                position: fixed;
                top: 64px;
                z-index: 2;

                .report-filter {
                  display: none;
                }

                +div {
                  position: relative;
                  // top: 128px;
                  z-index: 0;
                }

                .summary-section {
                  z-index: 2;

                  .container {
                    margin: 0;

                    .section:not(.to-stick) {
                      display: none;
                    }

                    .section {
                      padding: 0 48px;
                      display: flex;
                      flex-direction: row;
                      justify-content: space-between;
                      height: $navbar-height;
                      align-items: center;
                      -webkit-box-shadow: 0px 4px 10px 0px rgba(199, 195, 199, 1);
                      -moz-box-shadow: 0px 4px 10px 0px rgba(199, 195, 199, 1);
                      box-shadow: 0px 4px 10px 0px rgba(199, 195, 199, 1);

                      .dropdown {
                        display: none;
                      }
                    }
                  }
                }
              }
            }

            .table-container {
              padding: 0 24px 24px 24px;
              z-index: 0;

              @media (max-width: 750px) {
                padding: 0 12px 24px 12px;
              }
            }

            .row-container {
              display: flex;
              flex-wrap: wrap;
              margin-top: 0;
              margin-bottom: 24px;
              margin-left: auto;
              margin-right: auto;
              max-width: 1600px;
              background: transparent;
              width: 100%;
              min-height: 464px;

              &.hidden {
                display: none;
              }

              &.full {
                box-shadow: 0px 4px 10px 0px #c7c3c7;

                .section {
                  box-shadow: none;
                }
              }

              &.b-1250 {
                @media (max-width: 1250px) {
                  flex-direction: column;
                }
              }

              .section {
                flex: 1;
                box-shadow: 0px 4px 10px 0px #c7c3c7;
                background: $white;
                min-width: 0;

                .header-placeholder {
                  height: $navbar-height;
                  border-bottom: 1px solid $light-border;
                  display: flex;
                  align-items: center;
                  padding: 0 24px;
                  font-size: 1.2em;
                }

                &.chart-section {
                  @media (max-width: 900px) {
                    display: none;
                  }
                }

                &.left {
                  margin-right: 12px;

                  @media (max-width: 1250px) {
                    margin-right: 0;
                    margin-bottom: 12px;
                  }
                }

                &.right {
                  margin-left: 12px;

                  @media (max-width: 1250px) {
                    margin-left: 0;
                    margin-top: 12px;
                  }
                }
              }

              .table {
                flex: 1;
              }
            }
          }
        }
      }
    }
  }
}

.ui-column-customfilter {
  display: none;
}

.max-wrapper {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  &.flex-space-between {
    display: flex;
    justify-content: space-between;
  }
}